@charset "UTF-8";

#left-sidebar {
    min-height: calc(100vh - 70px);
    position: sticky !important;
    top: 70px;
}

#left-sidebar .logo {
    overflow: hidden;
}

#left-sidebar .logo img {
    border-radius: 5px;
}

#left-sidebar .jasmine-nav a, #left-sidebar .action span {
    padding: 5px 10px;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
}

#left-sidebar .jasmine-nav a:hover, #left-sidebar .action span:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

#left-sidebar .jasmine-nav i, #left-sidebar .action {
    font-size: 18px;
}