@charset "UTF-8";

#middle {
    padding: 0 1rem;
}

#middle .jasmine-navbar {
    border-bottom: 1px solid #ededed;
    transition: margin 100ms;
    top: -100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

#middle .jasmine-navbar-sticky {
    position: sticky;
    top: -1px;
    transition: margin 100ms;
    padding: 1rem 1.5rem !important;
    margin-bottom: 7rem !important;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    background: rgba(255, 255, 255, 0.8);
    z-index: 99;
}

#middle .menu .nav-link, #middle .action .nav-link {
    color: #000000;
    padding: 0.25rem 1rem;
}

#middle .menu .nav-link:hover, #middle .action .nav-link:hover {
    background-color: #000000;
    color: #ffffff;
}

#middle .menu .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

#middle .menu .nav-pills .nav-link, #middle .action .nav-pills .nav-link {
    border-radius: 1rem;
}

#middle .menu .nav-item {
    padding: 0 .5rem;
}

#middle .menu .nav-item:first-child {
    padding-left: 0;
}

#pagination .page-current a {
    background-color: #000000;
    color: #FFFFFF !important;
}

#pagination a {
    padding: 0.3rem 0.7rem;
    background-color: rgb(242, 242, 242);
    margin: 0 0.5rem;
    border-radius: 5px;
}

#search, #search-mobile {
    position: relative;
    display: inline-block;
}

#search span, #search-mobile span {
    cursor: pointer;
}

#search svg, #search-mobile svg {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

#search a:focus ~ input, #search-mobile a:focus ~ input {
    width: 100px !important;
}

#search input, #search-mobile input {
    vertical-align: middle;
    display: inline-block;
    width: 0;
    transition: 0.5s;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

#search input:focus, #search-mobile input:focus {
    width: 120px;
    border: 0 !important;
    outline-style: none;
}

#search input::placeholder, #search-mobile input::placeholder {
    font-size: 14px;
}

.list-group-item.active {
    background-color: #000;
    border-color: #000;
}

#page-archives a {
    color: #000000;
    text-decoration: none !important;
}

#page-archives ol {
    list-style: none;
    padding-left: 0;
}

#content li p {
    margin-bottom: 0px;
}

#shuoshuo {
    background-color: rgb(242, 242, 242);
    padding: 0 1rem;
    position: relative;
    border-radius: 5px;
}

#shuoshuo:after {
    content: '';
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent rgb(242, 242, 242) transparent;
    left: 5px;
    top: -23px;
}

#shuoshuo img {
    max-width: 100%;
    display: block;
}

.shuoshuo-meta-time {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.55);
}