@charset "UTF-8";

#sticky {
    border-bottom: 1px solid #ededed;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

#sticky .col-md-6 {
    margin-bottom: 2rem;
}

#sticky .col-md-12:last-child {
    margin-bottom: 1rem;
}

#sticky .thumbnail {
    padding-right: 0.5rem;
}

#sticky .thumbnail img {
    border-radius: 5px;
}

#sticky h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#sticky .excerpt {
    word-wrap: break-word;
    word-break: break-word;
}

#sticky .excerpt p {
    color: rgba(0, 0, 0, 0.55);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0;
    font-size: 14px;
}