@charset "UTF-8";

.nav .active {
  background-color: #000;
  color: #fff;
}

.middotDivider {
  content: "\00B7";
}

#page-nav li {
  border-radius: 0.25rem;
}

#page-nav li a {
  display: block;
  padding: 0.1rem 0.6rem;
  background-color: #f2f2f2;
  border-radius: 0.25rem;
  color: #000;
}

#page-nav .active a {
  background-color: #000000;
  color: #ffffff;
}

.markdown-body {
  font-family: "HarmonyOS-Sans", sans-serif;
}

.markdown-body h2,
.markdown-body h1 {
  border-bottom: 0;
}

#post-tag a {
  display: block;
  padding: 0.1rem 0.6rem;
  background-color: #f2f2f2;
  border-radius: 0.25rem;
}

#moment:after {
    border: 15px solid transparent;
    border-bottom-color: #f2f2f2;
    content: "";
    left: 5px;
    position: absolute;
    top: -23px;
}

.dark #post-tag a {
    background-color: #000;
    color: #9f9f9f;
}

.dark #moment:after {
    border-bottom-color: #0d1117;
}