@charset "UTF-8";

.nav .active {
  background-color: #000;
  color: #fff;
}

.middotDivider {
  content: "\00B7";
}

#page-nav li {
    border-radius: .25rem;
}

#page-nav li a {
    display: block;
    padding: 0.1rem 0.6rem;
    background-color: #f2f2f2;
    border-radius: .25rem;
    color: #000;
}

#page-nav .active a {
    background-color: #000000;
    color: #FFFFFF;
}

.markdown-body {
    font-family: "HarmonyOS-Sans", sans-serif;
}

.markdown-body h2, .markdown-body h1 {
    border-bottom: 0
}

#post-tag a {
    display: block;
    padding: 0.1rem 0.6rem;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
}