@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: HarmonyOS-Sans;
    src: url(./font/HarmonyOS-Sans.woff2) format("truetype");
  }
}

@layer utilities {
  .min-h-screen-jasmine {
    min-height: calc(100vh - 5rem);
  }

  .p-tag {
    padding: 0.25rem 1rem;
  }

  .text-md {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .jasmine-letter-spacing {
    letter-spacing: 0.03em;
  }
}

@layer components {
  .jasmine-body {
    font-family: "HarmonyOS-Sans", sans-serif;
    @apply m-2 bg-stone-100 text-neutral-500 transition delay-300 ease-linear dark:bg-[#0a0c19] dark:text-gray-400 md:max-w-[1200px] lg:mx-auto lg:my-16;
  }

  .jasmine-container {
    @apply rounded bg-white dark:bg-[#161829];
  }

  .jasmine-primary-color {
    @apply text-black dark:text-neutral-200;
  }

  .jasmine-primary-bg {
    background-color: var(--primary-bg);
    @apply dark:bg-black;
  }

  .jasmine-primary-bg-hover:hover {
    background-color: var(--primary-bg);
    @apply dark:hover:bg-black;
  }

  .jasmine-link-color {
    color: var(--link-color);
    @apply dark:text-neutral-200 dark:hover:text-neutral-200;
  }

  .jasmine-link-color-hover:hover {
    color: var(--link-hover-color);
  }
}
