@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: HarmonyOS-Sans;
    src: url(./font/HarmonyOS-Sans.woff2) format("truetype");
  }

  html {
    font-family: "HarmonyOS-Sans", sans-serif;
  }
}

@layer utilities {
  .min-h-screen-jasmine {
    min-height: calc(100vh - 5rem);
  }

  .p-tag {
    padding: 0.25rem 1rem;
  }

  .text-md {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
