@charset "UTF-8";

.darkmode-active a {
    color: #dedede;
    text-decoration: none;
}

.darkmode-active a:hover {
    color: #dedede;
}

body.darkmode-active {
    background-color: #0a0c19;
}

.darkmode-active #layout .layout-wrap {
    background-color: #161829;
}

.darkmode-active #left-sidebar .jasmine-nav a, .darkmode-active #left-sidebar .action a {
    color: #dedede;
}

.darkmode-active #layout #middle, .darkmode-active #layout #middle .jasmine-navbar, .darkmode-active #right-sidebar .widget, .darkmode-active #sticky {
    border-color: #666666;
}

.darkmode-active #layout #middle .jasmine-navbar.jasmine-navbar-sticky {
    border-color: rgba(0, 0, 0, 0);
}

.darkmode-active #middle .menu .nav-link, .darkmode-active #middle .action .nav-link {
    color: #dedede;
}

.darkmode-active #article .excerpt p, .darkmode-active #article .meta, .darkmode-active #sticky .excerpt p {
    color: #a5a9c3;
}

.darkmode-active #blogger .name {
    color: #dedede;
}

.darkmode-active #blogger .recommend {
    color: #a5a9c3;
}

.darkmode-active #right-sidebar .title {
    color: #dedede;
}

.darkmode-active .list-group-item a,.darkmode-active #mobileNavbar a {
    color: #a5a9c3 !important;
}

.darkmode-active #hot-tags .nav-link {
    color: #a5a9c3;
}

.darkmode-active #middle .jasmine-navbar-sticky {
    background-color: rgba(27, 29, 48, 0.8);
}

.darkmode-active #footer {
    color: #a5a9c3;
}

.darkmode-active #mobileNavbar {
    background-color: #0a0c19;
}

.darkmode-active #mobileNavbar .list-group {
    background-color: #161829;
}

.darkmode-active #mobileNavbar .btn-close {
    color: #FFFFFF;
    font-weight: bolder;
}

.darkmode-active .title {
    color: #dedede;
}

.darkmode-active #content p {
    color: #dedede;
}

.darkmode-active #article {
    border-color: #666666;
}

.darkmode-active #comments .small {
    color: #a5a9c3;
}

.darkmode-active .comment-content p {
    color: #a5a9c3 !important;
}

.darkmode-active #comments .comment-body:not(.comment-children .comment-body) {
    border-color: #666666;
}

.darkmode-active #comments .img-thumbnail {
    border-color: #666666;
}

.darkmode-active .post-tags {
    color: #dedede;
}

.btn-dark, .text-bg-dark {
    background-color: #000000 !important;
}

.darkmode-active #page-archives a {
    color: #dedede !important;
}

.darkmode-active :not(pre)>code[class*=language-],.darkmode-active  pre[class*=language-] {
    background: #0a0c19 !important;
}

.darkmode-active code[class*=language-],.darkmode-active  pre[class*=language-] {
    color: #a5a9c3 !important;
    text-shadow: none;
}

.darkmode-active .heti table {
    border-color: #666666;
}

.darkmode-active .heti mark {
    background-color: hsla(58deg, 100%, 15%, 0.88);
}

.darkmode-active .heti sup:target,
.darkmode-active .heti sup a:target {
    background-color: hsl(210deg, 40%, 38%);
}

.darkmode-active .heti u[title] {
    border-block-end-color: hsla(0deg, 0%, 100%, 0.54);
}

.darkmode-active .heti blockquote {
    background-color: hsla(0deg, 0%, 100%, 0.054);
}

.darkmode-active .heti hr {
    background-color: hsl(0deg, 0%, 25%);
}

.darkmode-active .heti pre {
    background-color: hsla(0deg, 0%, 100%, 0.054);
}

.darkmode-active #content {
    color: #dedede;
}