@charset "UTF-8";

@font-face {
    font-family: 'HarmonyOS-Sans';
    src: url('../font/HarmonyOS-Sans.woff2') format("truetype");
}

body {
    background-color: rgb(242, 242, 242);
    font-family: 'HarmonyOS-Sans', sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
}