@charset "UTF-8";

@font-face {
    font-family: 'HarmonyOS-Sans';
    src: url('../font/HarmonyOS-Sans.woff2') format("truetype");
}

body {
    background-color: rgb(242, 242, 242);
    font-family: 'HarmonyOS-Sans', sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
    transition: 100ms;
}

a:hover {
    color: #000000;
    transition: 100ms;
}

#layout {
    position: absolute;
    padding-top: calc(1.5rem * .5);
    width: 100%;
}

#layout .layout-wrap {
    background-color: #ffffff;
    border-radius: 5px;
}

#layout #middle {
    min-height: 100%;
}

.list-group-item {
    background: rgba(0, 0, 0, 0);
}

.form-control {
    border-radius: 5px;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 992px) {
    #layout {
        padding-top: 70px !important;
    }

    #middle {
        padding: 0 1.5rem !important;
        border-left: 2px solid rgb(242, 242, 242);
        border-right: 2px solid rgb(242, 242, 242);
    }

    #middle .jasmine-navbar {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        margin-bottom: 3rem !important;
    }
    #sticky {
        padding-bottom: 1.5rem!important;
        margin-bottom: 3rem!important;
    }
    #sticky .col-md-6 {
        margin-bottom: 3rem!important;
    }
    #article {
        padding-bottom: 2rem;
    }
}