@charset "UTF-8";

#article {
    border-bottom: 1px solid #ededed;
}

#article .thumbnail {
    padding-left: 1rem;
}

#article .thumbnail img {
    border-radius: 5px;
}

#article h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#article .excerpt {
    word-wrap: break-word;
    word-break: break-word;
}

#article .excerpt p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#article .excerpt p, #article .meta {
    color: rgba(0, 0, 0, 0.55);
}

#article .meta {
    font-size: 14px;
}

#article .meta .middotDivider:before {
    content: "\00B7";
}

#article #content img {
    max-width: 100%;
    height: auto;
}

#content p {
    color: rgba(0, 0, 0, 0.84);
}

.socialize .btn {
    color: rgba(0, 0, 0, 0.84);
}

.socialize .btn-light {
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 2rem;
    padding: 0.575rem 2rem;
}

#article .middotDivider {
    padding: 0 0.2rem;
}

#content a {
    text-decoration: underline;
}

/**
 *  https://github.com/sivan/heti
 */

.heti {
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    letter-spacing: 0.02em;
}
.heti::before, .heti::after {
    content: "";
    display: table;
}
.heti::after {
    clear: both;
}
.heti > *:first-child,
.heti section > *:first-child,
.heti td > *:first-child {
    margin-block-start: 0 !important;
}
.heti > *:last-child,
.heti section > *:last-child,
.heti td > *:last-child {
    margin-block-end: 0 !important;
}
.heti blockquote {
    margin-block-start: 12px;
    margin-block-end: 24px;
    margin-inline-start: 32px;
    margin-inline-end: 32px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    background-color: hsla(0deg, 0%, 0%, 0.054);
}
.heti figure {
    display: block;
    text-align: center;
}
.heti figure > img {
    display: block;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.heti hr {
    width: 30%;
    height: 1px;
    margin-block-start: 48px;
    margin-block-end: 47px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border: 0;
    background-color: hsl(0deg, 0%, 80%);
}
.heti p {
    margin-block-start: 12px;
    margin-block-end: 24px;
    text-align: justify;
}
.heti p:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)), .heti p:not(:lang(zh)) {
    text-align: start;
}
.heti pre {
    margin-block-start: 12px;
    margin-block-end: 12px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 12px;
    padding-block-end: 12px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    overflow: auto;
    font-family: "SFMono-Regular", consolas, "Liberation Mono", menlo, courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    white-space: pre;
    word-wrap: normal;
    border-radius: 4px;
    background-color: hsla(0deg, 0%, 0%, 0.054);
}
.heti pre code {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
}
.heti:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)), .heti:not(:lang(zh)) {
    letter-spacing: 0;
}
.heti a,
.heti abbr,
.heti code,
.heti heti-spacing,
.heti [lang=en-US] {
    letter-spacing: normal;
}
.heti h1,
.heti h2,
.heti h3,
.heti h4,
.heti h5,
.heti h6 {
    position: relative;
    margin: 0;
    margin-block-start: 24px;
    margin-block-end: 12px;
    font-weight: 600;
}
.heti h1 {
    margin-block-end: 24px;
    font-size: 32px;
    line-height: 48px;
}
.heti h2 {
    font-size: 24px;
    line-height: 36px;
}
.heti h3 {
    font-size: 20px;
    line-height: 36px;
}
.heti h4 {
    font-size: 18px;
    line-height: 24px;
}
.heti h5 {
    font-size: 16px;
    line-height: 24px;
}
.heti h6 {
    font-size: 14px;
    line-height: 24px;
}
.heti h1,
.heti h2,
.heti h3 {
    letter-spacing: 0.05em;
}
.heti h1:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)), .heti h1:not(:lang(zh)),
.heti h2:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)),
.heti h2:not(:lang(zh)),
.heti h3:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)),
.heti h3:not(:lang(zh)) {
    letter-spacing: 0;
}
.heti h1 + h2,
.heti h2 + h3,
.heti h3 + h4,
.heti h4 + h5,
.heti h5 + h6 {
    margin-block-start: 12px;
}
.heti ul,
.heti ol,
.heti dl {
    margin-block-start: 12px;
    margin-block-end: 24px;
}
.heti ul,
.heti ol {
    padding-inline-start: 32px;
}
.heti ul ul,
.heti ul ol,
.heti ol ul,
.heti ol ol {
    margin-block-start: 0;
    margin-block-end: 0;
}
.heti ul {
    list-style-type: disc;
}
.heti ol {
    list-style-type: decimal;
}
.heti ul ul,
.heti ol ul {
    list-style-type: circle;
}
.heti ul ul ul,
.heti ul ol ul,
.heti ol ul ul,
.heti ol ol ul {
    list-style-type: square;
}
.heti li {
    list-style-type: unset;
}
.heti table {
    box-sizing: border-box;
    table-layout: fixed;
    margin-block-start: 12px;
    margin-block-end: 24px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0deg, 0%, 80%);
    word-break: break-word;
    width: 100%;
}
.heti th,
.heti td {
    padding-block-start: 6px;
    padding-block-end: 6px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0deg, 0%, 80%);
}
.heti caption {
    caption-side: bottom;
    margin-block-start: 2px;
    margin-block-end: -4px;
    font-size: 14px;
    line-height: 24px;
}
.heti a {
    text-decoration: none;
}
.heti a:hover {
    padding-block-end: 1px;
    border-block-end: 1px solid currentColor;
    text-decoration: none;
}
.heti abbr[title] {
    padding-block-end: 1px;
    border-block-end: 1px dotted;
    text-decoration: none;
    cursor: help;
}
.heti b,
.heti strong {
    font-weight: 600;
}
.heti code {
    margin-inline-start: 0.25em;
    margin-inline-end: 0.25em;
    font-family: "SFMono-Regular", consolas, "Liberation Mono", menlo, courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.875em;
}
.heti dfn {
    font-weight: 600;
}
.heti dfn:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)), .heti dfn:not(:lang(zh)) {
    font-weight: 400;
}
.heti em {
    font-weight: 600;
}
.heti figcaption {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: start;
}
.heti i {
    font-style: italic;
}
.heti ins,
.heti u {
    padding-block-end: 1px;
    border-block-end: 1px solid;
    text-decoration: none;
}
.heti mark {
    padding-block-start: 2px;
    padding-block-end: 2px;
    padding-inline-start: 1px;
    padding-inline-end: 1px;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
    background-color: hsla(58deg, 100%, 50%, 0.88);
    color: inherit;
}
.heti q {
    quotes: "「" "」" "『" "』";
}
.heti q:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)), .heti q:not(:lang(zh)) {
    quotes: initial;
    quotes: auto;
}
.heti rt {
    font-size: 0.875em;
    font-weight: 400;
}
.heti small {
    font-size: 0.875em;
}
.heti strong {
    font-weight: 600;
}
.heti sub,
.heti sup {
    position: relative;
    margin-inline-start: 0.25em;
    margin-inline-end: 0.25em;
    font-size: 0.75em;
    font-style: normal;
    line-height: 1;
    vertical-align: baseline;
}
.heti sub {
    bottom: -0.25em;
}
.heti sup {
    top: -0.5em;
}
.heti sup:target,
.heti sup a:target {
    background-color: hsl(210deg, 100%, 93%);
}
.heti summary {
    padding-inline-start: 1em;
    outline: 0;
    cursor: pointer;
}
.heti summary::-webkit-details-marker {
    width: 0.6em;
    margin-inline-end: 0.4em;
}
.heti u[title] {
    cursor: help;
    border-block-end-width: 3px;
    border-block-end-style: double;
    border-block-end-color: hsla(0deg, 0%, 0%, 0.54);
}
.heti address,
.heti cite,
.heti dfn,
.heti dt,
.heti em {
    font-style: normal;
}
.heti address:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)), .heti address:not(:lang(zh)),
.heti cite:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)),
.heti cite:not(:lang(zh)),
.heti dfn:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)),
.heti dfn:not(:lang(zh)),
.heti dt:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)),
.heti dt:not(:lang(zh)),
.heti em:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)),
.heti em:not(:lang(zh)) {
    font-style: italic;
}
.heti abbr[title],
.heti del,
.heti ins,
.heti s,
.heti u {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}