@charset "UTF-8";

#sticky {
    border-bottom: 1px solid #ededed;
}

#sticky .thumbnail {
    padding-right: 0.5rem;
}

#sticky .thumbnail img {
    border-radius: 5px;
}

#sticky h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#sticky .excerpt p {
    color: rgba(0, 0, 0, 0.55);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0;
    font-size: 14px;
}